.citylist {
    padding-top: 45px;
    height: 100%;
}

.city {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    .title {
        font-size: 14px;
        padding: 10px 15px;
        color: #999;
    }
    .name {
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
        font-size: 16px;
        color: #333;
    }
}
// 右侧单词列表
.city-index {
    position: fixed;
    top: 55px;
    right: 15px;
    li {
        width: 15px;
        height: 15px;
        line-height: 15px;
        font-size: 15px;
        border-radius: 50%;
        margin-bottom: 10px;
        text-align: center;
    }
    .active {
        background-color: #21b97a;
        color: #fff;
        font-size: 12px;
    }
}